body{
	background:#494054;	
	overflow-x:hidden;
	overflow-y: hidden;
}
.bg{
	position: fixed;
	z-index: -100;

}
.box{
	position: absolute;
	right: 200px;
	margin-top: 450px;
	
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out
}
.switch{
	position: absolute;
	left: 150px;
	top: 300px;
	z-index: 1;
}
.dark{
	position: absolute;
	top: -1000px;
	left: -1000px;
	z-index: 1
}
